config/web_portal/menu.xsd

<?xml version="1.0"?>
<!--
  ** DO NOT EDIT THIS FILE DIRECTLY. **
  ** THIS FILE IS AUTO GENERATED.    **
  ** SEE menu.xslt FOR DETAILS.      **
-->
<xs:schema version="1.0"
      xmlns:xs="http://www.w3.org/2001/XMLSchema"
      >
  <xs:complexType name="validMenus">
    <xs:all>
        <xs:element name="MySites" type="showType" minOccurs="0"/>
        <xs:element name="Projects" type="showType" minOccurs="0"/>
        <xs:element name="NGI" type="showType" minOccurs="0"/>
        <xs:element name="Sites" type="showType" minOccurs="0"/>
        <xs:element name="ServiceGroups" type="showType" minOccurs="0"/>
        <xs:element name="Services" type="showType" minOccurs="0"/>
        <xs:element name="ServiceTypes" type="showType" minOccurs="0"/>
        <xs:element name="Scopes" type="showType" minOccurs="0"/>
        <xs:element name="RoleActionMappings" type="showType" minOccurs="0"/>
        <xs:element name="AddSite" type="showType" minOccurs="0"/>
        <xs:element name="AddServiceGroup" type="showType" minOccurs="0"/>
        <xs:element name="AddService" type="showType" minOccurs="0"/>
        <xs:element name="AddDowntime" type="showType" minOccurs="0"/>
        <xs:element name="CurrentDowntimes" type="showType" minOccurs="0"/>
        <xs:element name="Calendar" type="showType" minOccurs="0"/>
        <xs:element name="HelpAndContact" type="showType" minOccurs="0"/>
        <xs:element name="AddNGI" type="showType" minOccurs="0"/>
        <xs:element name="AddProject" type="showType" minOccurs="0"/>
        <xs:element name="AddServiceType" type="showType" minOccurs="0"/>
        <xs:element name="MoveServiceEndPoint" type="showType" minOccurs="0"/>
        <xs:element name="MoveSite" type="showType" minOccurs="0"/>
        <xs:element name="Users" type="showType" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
</xs:schema>

