htdocs/PI/xmlschema/get_roc_list.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="results">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ROC" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ROC">
    <xs:complexType>
      <xs:attribute name="ROC_NAME" type="xs:ID" use="required" />
      <xs:attribute name="PRIMARY_KEY" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>

</xs:schema>